
body{
    background:#1ba11a url(HOME2.png) top left repeat;
   color:white;
}

.button{
    background-color: darkslategray;
    color:white;
    width: 120px;
    height: 55px;   
    vertical-align: top;
    text-align: center;
   }
   .button:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
.center{
    text-align:center;
    color:grey;
    
}
.empire{
  float:left;
  border-style: solid;
  border-width:6px;
  border-color:blue;

}
.test{
  float:left;
  text-align:center;
}